/* EventComponent.css */

.event-component {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text horizontally */
  color: aliceblue; /* Default text color */
  padding-right: 20px;
}

.event-info {
  padding: 10px;
}

.event-title {
  color: aliceblue; /* Title text color */
  margin: 0; /* Remove default margin */
  font-size: 40px;
  margin-bottom: 30px;
}

.event-desc {
  color: aliceblue; /* Description text color */
  font-size: 20px;
  margin: 0; /* Remove default margin */
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social-icons li {
  margin: 0 10px; /* Adjust spacing between icons */
}

/* Social Media Icons from TeamsCard.css */
.social-icons li {
  margin: 0 5px; /* Decrease margin */
  position: relative;
}

.social-icons li .event-tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 12px; /* Decrease font size */
  transition: all 0.3s ease;
}

.social-icons li:hover .event-tooltip {
  opacity: 1;
  visibility: visible;
  top: -40px;
}

.social-icons li a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Decrease icon size */
  height: 40px; /* Decrease icon size */
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #090e49;
  transition: all 0.3s ease-in-out;
}

.social-icons li a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.social-icons li a img {
  position: relative;
  z-index: 1;
  width: 20px; /* Decrease icon image size */
  height: 20px; /* Decrease icon image size */
}

.social-icons li a:hover {
  color: white;
}

.social-icons li a .event-filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.social-icons li a:hover .event-filled {
  height: 100%;
}

.social-icons li a[data-social="linkedin"] .event-filled,
.social-icons li a[data-social="linkedin"] ~ .event-tooltip {
  background-color: #0274b3;
}

.social-icons li a[data-social="photo"] .event-filled,
.social-icons li a[data-social="photo"] ~ .event-tooltip {
  background-color: #5b51db;
}

.social-icons li a[data-social="instagram"] .event-filled,
.social-icons li a[data-social="instagram"] ~ .event-tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}

@media(max-width: 1350px) {
  .event-title {
    font-size: 35px;
  }
  .event-desc {
    font-size: 20.5px;
  }
}

@media(max-width: 1275px) {
  .event-title {
    font-size: 32px;
  }
  .event-desc {
    font-size: 19px;
  }
}

@media(max-width: 1150px) {
  .event-title {
    font-size: 29px;
  }
  .event-desc {
    font-size: 17px;
  }
}

@media(max-width: 1150px) {
  .event-title {
    font-size: 27px;
  }
  .event-desc {
    font-size: 15px;
  }
}

@media(max-width: 960px) {
  .event-title {
    font-size: 25px;
  }
  .event-desc {
    font-size: 13.5px;
  }
}

@media(max-width: 850px) {
  .event-title {
    font-size: 23px;
  }
  .event-desc {
    font-size: 12.5px;
  }
}

@media(max-width: 810px) {
  .event-component {
    margin-bottom: 14px;
    padding: 0px;
  }
  .event-title {
    font-size: 30px;
  }
  .event-desc {
    font-size: 15px;
  }
}

@media(max-width: 768px) {
  .event-component {
    margin-bottom: 14px;
    padding: 0px;
  }
  .event-title {
    font-size: 30px;
  }
  .event-desc {
    font-size: 15px;
  }

}

@media(max-width: 700px) {
  .event-component {
    margin-bottom: 14px;
    padding: 0px;
  }
  .event-title {
    font-size: 28px;
  }
  .event-desc {
    font-size: 15px;
  }
}

@media(max-width: 650px) {
  .event-component {
    margin-bottom: 14px;
    padding: 0px;
  }
  .event-title {
    font-size: 26px;
  }
  .event-desc {
    font-size: 14px;
  }
}

@media(max-width: 600px) {
  .event-component {
    margin-bottom: 14px;
    padding: 0px;
  }
  .event-title {
    font-size: 26px;
  }
  .event-desc {
    font-size: 14px;
  }
}