@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), #090e49);
  padding: 0.5rem 1rem;
  color: aliceblue;
  backdrop-filter: blur(30px);
  top: 0;
  z-index: 1000;
  width: 100%;
}


.navbar-logo {
  margin-right: auto;
  font-weight: bold;
  margin-left: 1rem;
}


.logo-home {
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

.navbar-links {
  display: flex;
  gap: 0.7rem;
}

.navbar-link {
  text-decoration: none;
  color: aliceblue;
  padding: 1rem;
  transition: color 0.3s ease, border-bottom 0.8s ease;
  font-weight: 400;
  letter-spacing: 1.3px;
  border-bottom: 2px solid transparent; /* Default transparent border */
}

.navbar-link:hover {
  color: rgb(255, 254, 254);
  border-bottom: 2px solid skyblue;
}

.navbar-link.active {
  background-color: rgba(188, 31, 122, 0.1);
  border-radius: 5px;
  color: skyblue;
  border-bottom: 2px solid skyblue; /* Underline when active */
}

.dropdown-button {
  position: relative;
}

.dropdown-button .navbar-button {
  background: none;
  color: aliceblue;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #090e49;
  backdrop-filter: blur(5px);
  min-width: 160px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-link {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-link:hover {
  background-color: #080b30;
  border-radius: 3px;
  border: 1px solid #3572EF;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}

.menu-button {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu-button {
    display: none; /* Hide the menu button on smaller screens */
  }

  .navbar-links {
    flex-direction: column;
    gap: 0;
    width: 100%;
    display: none; /* Hide navbar links by default on smaller screens */
  }

  .navbar-links-open {
    display: flex; /* Show navbar links when menu button is clicked */
  }

  .navbar-link {
    width: 100%;
    text-align: left;
    padding: 10px 15px;
  }

  .dropdown-content {
    position: relative; /* Override absolute positioning for dropdown content */
  }
}

@media (max-width: 768px) {
  .menu-button {
    display: block; /* Show the menu button (menuLogo) on phones */
    padding: 0.5rem; /* Adjust padding for better touch target */
  }

  .logo-menu {
    width: 30px;
    height: 30px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 8fr 1fr;
  }
}
